# Swift Package Manager
.build/
.swiftpm/
*.xcodeproj
*.xcworkspace
DerivedData/
.DS_Store

# Xcode
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift
*.swiftmodule
*.swiftdoc
.swiftlint.yml

# IDEs
.vscode/
.idea/

